@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'idroid';
    src: url(../fontes/idroid.otf) format('opentype');
}

:root {
    --cor0: #09f55893;
    --cor1: #008031c5;
    --cor2: #03e903;
    --cor3: #ffffff;
    --cor4: #008000;
    --cor5: #06cf49d7;
    --cor6: #016601;
    --cor7: #005c00;
    --cor8: #06cf535e;
    --cor9: #06cf49;
}

body {
    background-color: var(--cor0);
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 10px;
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor5));
    color: var(--cor3);
    text-align: center;
    padding-top: 40px;
    margin: 0 auto;
}

header > h1 {
    padding: 15px;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.274);
}

.paragrafo_principal {
    font-size: 1.2em;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.349);
}

nav {
    background-color: var(--cor4);
    padding: 10px;
    text-align: left;
    margin: auto;
}

nav>a {
    color: var(--cor3);
    margin: 5px;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    font-size: 19px;
    transition: all 0.5s ease-in-out;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.342);
    max-width: 800px;
    min-width: 420px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

nav>a:hover {
    color: var(--cor5);
    transform: scale(1.1);
}

main {
    background-color: var(--cor3);
    padding: 20px;
    margin: 10px auto;
    max-width: 800px;
    min-width: 320px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main p {
    text-indent: 2em;
    text-align: justify;
    font-size: 17px;
}

main strong {
    color: var(--cor7);
    padding: 2px;
}

main a {
    color: var(--cor1);
    margin: 5px;
}

main a:hover {
    color: var(--cor2);
}

.principal {
    width: 100%;
    height: auto;
}

.fonte {
    font-family: 'idroid';
    padding: 10px;
}

.titulo {
    color: var(--cor7);
    padding: 20px;
    font-weight: bold;
}

article  > p {
    padding: 15px;
    margin: 15px;
}

h2 {
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor8), transparent);
}

img {
    padding: 10px;
    display: block;
    margin: 0 auto;
    width: 100%;
}

img.pequena {
    max-width: 350px;
    display: block;
    margin: 0 auto;
}

.irina {
    max-width: 650px;
    height: auto;
}

.configuracao_video {
    background-color: var(--cor4);
    padding: 20px;
    margin: 10px;
    height: auto;
    border-radius: 5px;
}

video {
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
    margin: 0 auto;

}

aside {
    background-color: var(--cor5);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.235);
}

aside h3 {
    color: var(--cor3);
    background-color: var(--cor4);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.lista {
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    list-style-position: inside;
    border-radius: 5px;
    width: 100%;
}

aside a {
    color: var(--cor7);
}

footer {
    background-color: var(--cor4);
    color: var(--cor3);
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

footer a {
    color: var(--cor9);
    font-weight: bold;
}

footer a:hover {
    color: #03e903;
}
